main.chatting{
  display: flex;
  flex-direction: column;
  background-color: var(--chat-room-bg-color);
  padding: 0.5rem;
  overflow: auto;
  padding-bottom: 3.5rem;
}
main.chatting > *:not(:first-child){
  margin-top: 0.5rem;
}

main.chatting > .input{
  position: fixed;
  bottom: 0.5rem;
  width: calc(100% - 1rem);
}