main.chat{
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

main.chat .empty{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

