.message-box.left{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.message-box.left .right{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.message-box.left .right > *:not(:first-child){
  margin-top: 5px;
}

.message-box.right{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.message-box .center{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.message-box img{
  width: 3.5rem;
  margin-right: 5px;
  height: 100%;
  object-fit: cover;
}

.message-box .message{
  
  padding: 0.5rem;
  border-radius: 0.3rem;
  background-color: white;
  max-width: 80vw;
  overflow-wrap: break-word;
}
