.grade-select{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  border-radius: 10rem;
  background-color: white;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  /* font-size: 0.9rem; */

  box-shadow: 0px 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
}
.grade-select > *{
  flex: 3 1;
}
.grade-select .icon{
  width: 0;
  height: intrinsic;
  flex: 1.8 1;
  padding: calc(100% / 19.8 * 1.8 / 100 * 20); /* 20% */
}

.grade-select .grade-option{
  width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; 
  padding: unset;

  transition: all 0.3s cubic-bezier(0.7, 0.2, 0.2, 0.8);
}
.grade-select .grade-option:not(.selected){
  visibility: hidden;
  opacity: 0;
}

.grade-select.open .grade-option{
  visibility: visible;
  opacity: 1;
}