main.home{
  height: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  
  padding: 5.5rem 2rem 0 2rem;
}

/* frame */
main.home .grade{
  margin-top: 2rem;
}

/* transition */
main.home .grade{
  transition: all 1.5s cubic-bezier(0.7, 0.2, 0.2, 0.8);
  opacity: 1;
}
main.home.search .grade,
main.home.connect .grade,
main.home.accept .grade{
  opacity: 0;
}


/* frame */
main.home .start{
  margin: 0 auto;
  z-index: 100;
}

/* transition */
main.home.default .start,
main.home.search .start,
main.home.connect .start,
main.home.accept .start{
  transition: all 1.5s cubic-bezier(0.7, 0.2, 0.2, 0.8);
}
main.home.search .start,
main.home.connect .start,
main.home.accept .start{
  transform: translateY(5.2rem) scale(1.4);
}

/* frame */
main.home .major{
  margin-top: 2rem;
}

/* transition */
main.home .major{
  transition: all 1.5s cubic-bezier(0.7, 0.2, 0.2, 0.8);
  opacity: 1;
}
main.home.search .major,
main.home.connect .major,
main.home.accept .major{
  opacity: 0;
}

/* frame */
main.home .timer{
  margin-top: 5rem;
  font-size: 15vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 100;
  
  transition: all 1.5s cubic-bezier(0.7, 0.2, 0.2, 0.8);
  opacity: 0;
  visibility: hidden;
  transform: scale(1);
}

/* transition */
main.home.connect .timer,
main.home.accept .timer{
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}


/* frame */
main.home .interface{
  position: relative;
  bottom: -3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

main.home .interface .button{
  width: 0;
  opacity: 0;
}

main.home.default .interface .cancel{ padding: 0; }
main.home.default .interface .disagree{ padding: 0; }
main.home.default .interface .agree{  padding: 0; }
main.home.default .interface .disconnect{ padding: 0; }

main.home.search .interface .cancel{  width: 70%; opacity: 1;  }
main.home.search .interface .disagree{  padding: 0; }
main.home.search .interface .agree{ padding: 0; }
main.home.search .interface .disconnect{  padding: 0; }

main.home.connect .interface .cancel{ padding: 0; }
main.home.connect .interface .disagree{  width: 100%; opacity: 1; }
main.home.connect .interface .agree{  width: 100%; opacity: 1;  margin-left: 1rem;}
main.home.connect .interface .disconnect{ padding: 0; }

main.home.accept .interface .cancel{  padding: 0; }
main.home.accept .interface .disagree{  padding: 0; }
main.home.accept .interface .agree{ padding: 0; }
main.home.accept .interface .disconnect{  width: 70%; opacity: 1; }

/* transition */
main.home .interface .button{
  transform: translateY(0);
  transition: all 0.5s cubic-bezier(0.7, 0.2, 0.2, 0.8);
}
