main.register{
  height: 100%;
  display:flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  padding: 0 3rem 4rem 3rem;
}

main.register > *:first-child{
  margin-top: 10rem;
}

main.register > *{
  margin-bottom: 1rem;
}

main.register > *:last-child{
  margin-bottom: auto;
}

main.register input.text,
main.register select.select{
  font-size: 1rem;
}

main.register > .email,
main.register > .auth,
main.register > .info{
  display:flex;
  flex-direction: row;
  width: 100%;
}

main.register > .email .input .domain{
  width: 0;
}

main.register > .email .send,
main.register > .auth .send{
  flex-basis: 4rem;
  margin-left: 1rem;
}
main.register > .auth .input{
  width: 0;
  flex: 1 1;
}
main.register > .email .input{
  flex: 1 1;
}
main.register > .email .send{
  flex-basis: 4rem;
}

main.register .info > *{
  width: 100%;
}
main.register .info > *:last-child{
  margin-left: 1rem;
}

main.register .password,
main.register .major,
main.register .submit{
  width: 100%;
}