main.register{
  height: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main.register > *:first-child{
  margin-top: 10rem;
}

main.register > *{
  margin-bottom: 1rem;
}

main.register > *:last-child{
  margin-bottom: auto;
}

main.register input.text,
main.register select.select{
  font-size: 1rem;
}

main.register .email,
main.register .auth,
main.register .info{
  display:flex;
  flex-direction: row;
}

main.register .email .input,
main.register .auth .input{
  width: 10rem;
}

main.register .email .send,
main.register .auth .send{
  width: 4rem;
  margin-left: 1rem;
}

main.register .info > *{
  width: 7rem;
}
main.register .info > *:last-child{
  margin-left: 1rem;
}

main.register .password,
main.register .major,
main.register .submit{
  width: 15rem;
}