.Layout{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Layout > main{
  flex-grow: 1;
}

.Layout.nav > main{
  margin-bottom: 5rem;
}

.Layout.gnb > main{
  margin-top: 3rem;
}