.Layout{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Layout > *:not(.navigation):first-child{
  flex-grow: 1;
}

.Layout.nav > *:not(.navigation):first-child{
  margin-bottom: 5rem;
}