.toast{
  position: fixed;
  bottom: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.toast .message{
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 0.5rem 0.75rem;
  border-radius: 0.4rem;
  background-color: rgba(200, 200, 200, 0.9);

  transition: opacity 0.4s, transform 0.4s, visibility 0.4s;
  opacity: 0;
  transform: translate3d(0, 0px, 0);
  visibility: hidden;
}

.toast .message.on {
  opacity: 1;
  transform: translate3d(0, -37px, 0);
  visibility: visible;
}