.animation-wrapper {
  width: 60vw;
}

.sphere path {
  fill: url(#sphereGradient);
  stroke-width: 3px;
  backface-visibility: hidden;
}

@media (min-width: 500px) {
  .sphere path {
    stroke-width: 1px;
  }
}

.sphere-animation stop{
  transition: all 1.5s cubic-bezier(0.7, 0.2, 0.2, 0.8);
}